

/*  */

html{
        scroll-behavior: smooth;
}

*{
        margin: 0px;
        padding: 0px;
        font-family: "Heebo", sans-serif;
      
}
h1{
        color: #07181d;
}
p{
        color: #777;
}
.a-bottom{
        border: 0.2px solid white;
        height:  40px;
        width: 124px;
        font-size: 15px;
        display: flex;
        background-color: #3cb4ff3d;
        align-items: center;
        justify-content: center;
}
p{
        font-size: 14px;
}
.a-bottom:hover{
        background-color: white;
        color: black;
        transition: 0.8s;
}

/* HOME */

.home{
        width: 100%;
        height: 100vh;  
        background: linear-gradient(#3bacf0,#70c3f7);
}




/* NAVBAR */





.navbar{
        background-color: #3bacf0;
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 75px;
        padding-bottom: 17px;
        /* background-color: red; */
}
.navbar-items{
        padding:  33px;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.navbar-a{
        padding: 10px 0px;
        display: flex;
        color: white;
        justify-content: center;    
}
a{
        text-decoration: none;
        color: white;
        font-size: 12px;
        margin: 0px 20px;
}
.nexus-logo{
        width: 67px;
        height: 19px;
}





/* HOME TITLE */





.home-title{
        flex: 1;
        color: white;
        width: 500px;
        /* width        : 100vh; */
        /* background-color: red; */
        display: flex;
        justify-content: center;
        flex-direction: column;
}
.div-row{
        display: flex;
        flex-direction: row;
        padding:250px 250px;

}
.home-title-h1{
        font-size: 49px;
        margin: 10px;
        padding-left: 20px;
}
.home-title-p{
        font-size: 15px;
        margin: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
}
.home-image{
              width:  580px;
              height: 367px;
}
.a--bottom {
        border: 1px solid white;
        background-color: white;
        color: black;
        height: 40px;
        width: 114px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px;
}

.a--bottom:hover {
        border: 1px solid white;
        color: white;
        background: transparent;
        transition: 0.7s;
}
.home-bottom{
        display: flex;
}




/* how it work for you */



.how-it-work-for-you_title{
        margin: 0px 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.how-it-work-for-you{
        width: 100%;
}
.how-it-work-for-you_title-h1{
        color: #222;
        padding-top: 90px;
        margin-bottom: 20px;
        font-size: 35px;
}
.how-it-work-for-you_title-p{
        color: #777;
        display: flex;
        text-align: center;
        font-size: 14px;
}
.monitor-i{
        width: 40px;
        margin: 10px 0px;
        padding: 10px;
}
/* .monitor-i:hover{
        background: linear-gradient(#007bff,#9cc9fa);
} */
.card-h4{
        color: #222;
        margin: 30px;
}

.card-p{
        color: #777;
        font-size: 14px;
        margin: 10px 0px;
}
.card{
        width: 289.98px;
        height: 221px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}
.card-items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.how-it-work-for-you_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 100px;
        padding-bottom:150px;
}
.c-h4:hover{
        color: #007bff;
        transition: 0.2s;
}



/* ABOUT CONTAINER */

.about{
        width: 100%;
        height: 100vh;
        background-color: #edf6ff;
}
.about-bottoms{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-around;
        height: 100px;
        /* background-color: red; */
        color: #222;
}
.about-bottom{
        border: 1px solid rgb(248, 248, 248);
        background-color: rgb(255, 255, 255);
        height: 60px;
        width: 210px;
        display: flex;
        justify-content: center;
        margin-top: 170px;
        align-items: center;
        color: #222;
                border-radius: 3%;
}
.about-bottom:active{
        color: white;
        transition: 0.4s;
        background: linear-gradient(#c3e3ff, #8bd9ee);
}
.about--bottom{
        padding: 20px 30px;
        padding-right: 0px;
        margin: 0;
        color: white;
        width: 150px;
        border-radius: 3%;
        background: linear-gradient(#68aeec, #5fd3f3);
}
.about--bottom:hover {
        color: white;
        transition: 2s;
        background: linear-gradient(#5fd3f3, #68aeec);
}
.about-h1{
        margin: 15px 0px;
        color: #222;
}
.about-h4{
        margin-bottom: 10px;
        color: #07181d;
}
.about-p{
        margin-bottom: 28px;
        color: #222;
}
.about-title{
        display: flex;
        margin: 0px 10px;
        justify-content: center;
        flex-direction: column;
}


/* LAPTOP IMAGE CONTAINER  */

.laptop-image_div{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center     ;
        flex-direction: column;
}
.laptop-image_div-h1{
        margin: 15px 0px;
}
.laptop3-div{
        width: 100%;
        height: 70vh;
        background-color: #edf6ff;
}
.laptop3-div-title{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color:#222 ;
}
.laptop-3-div-image{
        flex: 1;
        display: flex;
        justify-content: center;
}
.div--row {
        display: flex;
        flex-direction: row;
        padding: 100px 220px;

}
.laptop3-div-h4{
        margin: 10px 0px;
}
.laptop3-div-p{
        margin-bottom: 20px;
}


/* PRICE CONTAINER */




.price-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.price-title-h1{
        margin: 0px 0px 15px;
}
.price-title-p{
         margin: 0px 180px;
         margin-bottom: 100px;
}
.prices{
        padding: 100px;
}
.price-cards{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
}
.price-card-h2{
        background-color: #edf6ff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 35px;

}
.price-card-p{
        color: #777;
        margin: 15px;
}
.price-card{
        height: 560.39px;
        width:  370px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 5px;
}
#card-p{
        margin-top: 50px;
}
.price-card-in-price-div{
        max-width: 280px;
        margin: 0 auto 40px;
        margin-top: 50px;
        background: #edf6ff;
        border-radius: 5px;
        padding-top: 35px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
}

.price-card-in-price-div-tile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
                align-items: center;

}
.card-h1-price{
        font-size: 72px;
}
.dlr{
        display: flex;
        font-size: 24px;
                vertical-align: top;
                padding-top: 14px;
                display: inline-block;
}
.month{
        font-size: 14px;
        color: #777;
        font-family: "Roboto", sans-serif;
        display: inline-block;
        margin-top: 36px;
        text-align: left;
}
.price-card-bottom{
        background: linear-gradient( #4dabff 100%,#62ddff 48%);
        color: white;
        display: flex;
        align-items: center;
        height: 50px;
        width: 134px;
        justify-content: center;
}
.price-card-bottom:hover{
        background: rgb(255, 254, 254);
        color: black;
        transition: 1.3s;
}

.price-crad-div-title{
        display: flex;
}
.price-card_bottom{
        display: flex;
}


/* FEEDBACK FROM CUSTOMERS container */


.feedback-from-customers{
        width: 100%;
        height: 77vh;
        background-color: #edf6ff;
}
.ffc-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
}
.ffc-card{
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 40px;
        width: 500px;
}
.ffc-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}
.ffc-card-title{
        margin-left: 20px;
}
.reating-i{
        width: 15px;
}



/* We’ve made a life that will change you  container*/

.laptopdiv-4{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
.laptop4-img-div{
        width: 530px;
        display: flex;
        height: 349.27px;
}
.laptopdiv-4-el{
        display: flex;
        justify-content: center;
        align-items: center;
}
.title-laptopdiv-4{
        display: flex;
        flex-direction: column;
        width: 25%;
}

/* END OF HOME PAGE */


/* first div */

.end-of-home-page{
        width: 100%;
        height: 50vh;
        background-color: #3bacf0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.title-end-home-page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.a---bottom{
        background-color: rgb(255, 255, 255);
        padding: 15px 25px;
        color: black;
        margin-top: 20px;
}
.a---bottom:hover{
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: 0.6s;
}





/* the second div */



.end--of-home-page{
        background-color: #000410;
        width: 100%;
        height: 55vh;
}

.columns-end--of-home-page{
        display: flex;
        justify-content: space-evenly;
        padding: 150px 140px;
}

.first-column-title-h3{
        color: #fff;
                font-size: 20px;
                font-weight: bold;
                font-family: "Heebo", sans-serif;
                margin-bottom: 30px;
}
.home-page-end-div-colmun-title{
        width: 450px;
        /* padding: 0px 20px; */
}

.end-of-home-page-icon{
        margin: 10px 0px;
        margin-right: 10px;
}
.a-h{
        margin:0px 0px;
}
.colum3{
        margin: 0px 80px;
}
.icons{
        margin: 10px 0px;
}













/* NAVBAR LINK CONTAINER */





/* ABOUT LINK IN NAVBAR PAGE */


.about-page-div1-title{
        width: 100%;
        height: 57vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}
.about-page-div1-title-h1{
        color: white;
        font-size: 35px;
}
.a-a{
        font-size: 14px;
        margin: 0px;
}
.div1-page-a{
        margin-top: 7px;
}

/* SERVICES LINK IN NAVBAR PAGE */

.services-page-div1-title{
        width: 100%;
        height: 57vh;
        background-color: #3bacf0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.services-page-div1-title-h1 {
        color: white;
        font-size: 35px;
}
.how-it-work-for-you__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 100px;
        padding-top: 0px;
        padding-bottom: 150px;
}
.how-it-work-for--you_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        padding: 100px;
        padding-bottom: 0px;
}


/* BLOG LINK IN NAVBAR PAGE */


.blog-div1{
        width: 100%;
        height: 100vh;
        background-color: red;
        display: flex;
        /* background:url(slike/blog-image-1.jpg) ; */
        background: linear-gradient( rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.603)),
        url("slike/blog-image-1.jpg");  
}


.title-blog{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 300px;
}
.a_bottom {
        border: 0.2px solid white;
        height: 40px;
        width: 124px;
        font-size: 15px;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.144);
        justify-content: center;
}

.a_bottom:hover {
        background-color: white;
        color: black;
        transition: 0.8s;
}

.blog-a-div1{
        background-color: white;
        color: black;
        padding: 17px 30px;
        margin-top: 39px;
}
.blog-a-div1:hover{
        background-color: #007bff;
        color: white;
        transition: 0.5s;
}


/* BLOG CARDS 1 */


.blog-category-cards{
        width: 100%;
        display: flex;
        background-color: white;
        padding: 80px 0px ;
        justify-content: space-evenly;
}
.category-card-blog{
        display: flex;
        padding: 0px 15px;
        position: relative;
}
.category-card-blog-img{
        display: flex;
        width: 330px;
}
.category-card-blog-img-div-text{
        position:absolute;
        display: flex;
        padding: 20px;
}

.blog-category-crad-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px ;
        height: 170px;
        background: rgba(34, 34, 34, .8);
}
.blog-category-crad-txt:hover{
        background-color: #007bffc9;
        transition: 0.4s;
}
.blog-category-crad-txt-line{
        height: 2px;
        display: flex;
        margin: 10px 0px;
        width: 200px;
        background-color: white;
}






.blog-category-crad2-txt:hover {
        background-color: #007bffc9;
        transition: 0.4s;
}
.blog-category-crad3-txt:hover {
        background-color: #007bffc9;
        transition: 0.4s;
}

.category-card2-blog {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: 0px 15px;
}
.category-card3-blog {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: 0px 15px;
}
.blog-category-crad2-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 170px;
        background: rgba(34, 34, 34, .8);
}
.blog-category-crad3-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 170px;
        background: rgba(34, 34, 34, .8);
}
.category-card3-blog-img-div-text {
        position: absolute;
        display: flex;
        padding: 20px;
}
.category-card2-blog-img-div-text {
        position: absolute;
        display: flex;
        padding: 20px;
}
.category-card2-blog-img {
        display: flex;
        width: 330px;
}
.category-card3-blog-img {
        display: flex;
        width: 330px;
}




.posts-blog{
        display: flex;
        min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;     
                margin: 50px 0px;
}
.bio-card-blog{
        display: flex;
        flex-direction: column;
        width: 15%;
        padding-top: 30px;
        height: 461.016px;
        margin-left: 200px;
        padding-right: 15px;
                padding-left: 15px;
}
.bio-crad-blog-a{
        padding: 0px 0px 20px;
        flex-direction: column;
        
}
.bio-blog-a-crad{
        margin: 0;
        padding: 0;
        color: #000410;
        background-color: transparent;
        font-size: 15px;
}
.bio-blog-a-crad:hover{
        color: rgb(56, 56, 56);
}
.bio-blog-a-crad:active{
        color: #007bff;
}
.list-bio-blog-card{
        display: flex;
        flex-direction: column;
}
.a-list-biog-crad{
        display: flex;
        flex-direction: row;
        margin: 5px 0px;
        padding: 0;
}
/* .list {
        list-style: none;
        margin: 0;
        padding: 0;
        color: #000410;
} */
.list-bio-blog-card{
        display: flex;
        flex-direction: row;
}
.list-bio-blog-crad-p:hover{
        color: #007bff;
}
.list-bio-blog-crad-p{
        color: #000410;
        font-size: 13px;
        /* margin-right: 40px; */
        margin-left: 50px;
}
.image-blog-div{
                width: 550px;
                padding-right: 15px;
                padding-left: 15px;
}

.div-card-blog-post{
        width: 100%;
        display: flex;
}
.image-blog-div-title-h2{
        margin: 5px 0px;
        color: #222;
}

.blog-a-div-image {
        background-color: white;
        color: black;
        border: 2px solid rgb(175, 175, 175);
        padding: 17px 30px;
        margin: 0px;    
        margin-top: 50px;
}

.blog-a-div-image:hover {
        background-color: #007bff;
        color: white;
        border: 0px solid ;
        transition: 0.5s;
}
.image-blog-div-title-p{
        margin-top: 15px;
        margin-bottom: 35px;
}






































/* CONTACT PAGE  */









.about-page-div1-title {
        width: 100%;
        height: 57vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}

.about-page-div1-title-h1 {
        color: white;
        font-size: 35px;
}
.map-contact-div{
        background-color: white;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
}
.map-contact-div iframe{
        height: 400px;
        width: 60%;
        margin: 90px 0px;
}
.form-contact-icon{
        width: 24px;
        height: 24px;
        margin-right: 15px;
}
.form-contact-container{
        display: flex;
        flex-direction: column;
        width: 20%;
}
.form-contact-page-title{
        display: flex;
        flex-direction: row;
        margin: 20px 0px;
}
.form-contact-page-title-{
        display: flex;
        flex-direction: column;
}
.form-contact-page-icon{
        display: flex;
}
.form-contact-page-title-h5{
        margin: 5px 0px;
}
.col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
}
.col-75 input{
        padding: 10px; 
        width: 400px;
        border: 1.5px solid rgb(153, 153, 153);
}
.forms-columns{
        display: flex;
        margin-right: 40px;
        flex-direction: column;
}
.div-for-messages-input{
        margin: 0px 30px;
}
.form-contact-container{
        margin-left: 170px;
}

.contact-bottom{
        padding: 20px 15px;
        margin: 0;
        color: white;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3%;
        background: linear-gradient(160deg,#4b86b9, #83cfe4);
        transition: 0.35s all ease-in-out;
}

.contact-bottom:hover {
        scale: 1.04;
}




.col--75 {
        float: left;
        width: 35%;
        margin-top: 6px;
}

.col--75 input {
        padding: 10px;
        width: 260px;
        border: 1.5px solid rgb(153, 153, 153);
}